{% extends 'base.html' %}



{% block pagetitle %}{{ page.title }}{% endblock %}


{% block css %}

    <script type="text/javascript" src="{{ SITEURL }}/js/jquery.min.js"></script>

    <link href="{{ SITEURL }}/css/nanogallery2.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{{ SITEURL }}/js/jquery.nanogallery2.min.js"></script>


{% endblock %}

{% block content %}
        <div class="col-xl-12">
            <!-- FAQ Accordion 1-->
        <div class="row col-lg-12 col-xl-12 py-lg-12">

            {{ page.content }}

        </div></div>

{% endblock %}

