<div class="row gx-5">
    <div class="col-xl-12">
        <h4 class="fw-bolder fs-5 mb-3 mt-3 text-bold">Contact</h4>
            <div class="d-flex ">
                    <p class="text-muted mb-4">
                        Get in touch with me at:
                        <a class="link-info" href="mailto:saiwalkrishna@gmail.com">saiwalkrishna@gmail.com</a>
                        <a class="text-info" href="{{ SITEURL }}/attachments/0x72B220773CEF6712.txt">PGP <i class="fas fa-solid fa-key"></i>
                        </a>

                    </p>
            </div>
    </div>
</div>
