    <div class="sidebar os-host-scrollbar-horizontal-hidden"">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{{ SITEURL }}/theme/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{ AUTHOR }}</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column nav-flat nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          {% for page in pages %}
          <li class="nav-item">
            <a href="{{ SITEURL }}/{{ page.url }}" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                {{ page.title }}
              </p>
            </a>
          </li>
          {% endfor %}
          {% for cat, articles in categories %}
          <li class="nav-item">
            <a href="{{ SITEURL }}/{{ cat.url }}" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                {{ cat }}
              </p>
            </a>
          </li>
          {% endfor %}
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
