  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{{ SITEURL }}/" class="brand-link">
      <img src="{{ SITEURL }}/theme/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">{{ SITENAME }}</span>
    </a>

    <div class="sidebar os-host-scrollbar-horizontal-hidden"">
      <!-- SidebarSearch Form -->
      <div class="form-inline mt-3 pb-3 d-flex">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column nav-flat nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-header">PAGES</li>
          {% for page in pages %}
          <li class="nav-item">
            <a href="{{ SITEURL }}/{{ page.url }}" class="nav-link">
              <i class="nav-icon fas fa-bookmark"></i>
              <p>
                {{ page.title }}
              </p>
            </a>
          </li>
          {% endfor %}
          <li class="nav-header">CATEGORIES</li>
          {% for cat, articles in categories %}
          <li class="nav-item">
            <a href="{{ SITEURL }}/{{ cat.url }}" class="nav-link">
              <i class="nav-icon fas fa-book-open"></i>
              <p>
                {{ cat }}
              </p>
            </a>
          </li>
          {% endfor %}
          <hr>
          <li class="nav-item">
            <a href="{{ SITEURL }}/archives/" class="nav-link">
              <i class="nav-icon fas fa-book-open"></i>
              <p>
                Archives
              </p>
            </a>
          </li>
        </ul>
      </nav>

      <!-- /.sidebar-menu -->
    </div>
  </aside>
