  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{{ SITEURL }}/" class="brand-link text-center">
      <span class="brand-text  font-weight-light">{{ SITENAME }}</span>
    </a>
    <div class="sidebar os-host-scrollbar-horizontal-hidden"">
      <!-- SidebarSearch Form -->
            <form class="form-inline mt-3 pb-3 d-flex" action="https://www.google.com/search" method="get" name="searchform" target="_blank">
                <div class="input-group">
                    <input class="form-control form-control-sidebar" type="text" placeholder="Search for..." name="q" required="required"  autocomplete="on" aria-label="Search for..." aria-describedby="btnNavbarSearch">
                    <input name="sitesearch" type="hidden" value="{{ SITEURL }}">
                    <button class="btn btn-sidebar"><i class="fas fa-search fa-fw"></i></button>
                </div>
            </form>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column nav-flat nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-header">PAGES</li>
          {% for p in pages %}
          <li class="nav-item">
            <a href="{{ SITEURL }}/{{ p.url }}" class="nav-link{% if p == page %} active{% endif %}">
              <i class="nav-icon fas fa-bookmark"></i>
              <p>
                {{ p.title }}
              </p>
            </a>
          </li>
          {% endfor %}
          <li class="nav-header">CATEGORIES</li>
          {% for cat, articles in categories %}
          <li class="nav-item">
            <a href="{{ SITEURL }}/{{ cat.url }}" class="nav-link {% if cat == page_name %}active{% endif %}">
              <i class="nav-icon fas fa-book-open"></i>
              <p>
                {{ cat }}
              </p>
            </a>
          </li>
          {% endfor %}
          <hr>
          <li class="nav-item">
            <a href="{{ SITEURL }}/archives/" class="nav-link {% if page_name == 'archives/index' %} active{% endif %}">
              <i class="nav-icon fas fa-book-open"></i>
              <p>
                Archives
              </p>
            </a>
          </li>
        </ul>
      </nav>

      <!-- /.sidebar-menu -->
    </div>
  </aside>
